reef {
    horizontal {
        size infinite
        scroll enabled=#false offscreen-pages=0.3
        floor file="art/world/floor1.kdl" chunkgen=random color=green
        surface file="art/world/surface1.kdl" chunkgen=random color=blue
    }

    vertical {
        size fit-terminal
        scroll enabled=#false
    }

    creatures {
        edge-behavior exit-world
        respawn condition=after-exit-world delay-ms=1000
        count-scale 2.0
    }
}
