name "boxfish"

right ###"""
  __
)|-o'>
 '--'
"""###

right1 ###"""
  __
}|-o'>
 '--'
"""###

left ###"""
  __
<'o-|(
 '--'
"""###

left1 ###"""
  __
<'o-|{
 '--'
"""###

face ###"""
  __
-|oo|-
 '--'
"""###

away ###"""
  __
-|)(|-
 '--'
"""###
