name "oldskool"

unit-motion "brownian"

left ###"""
   <>< <><
    <><  <><
 <><   <><  <><
    <>< <><
"""### unit="<><"

right ###"""
   ><> ><>
    ><>  ><>
 ><>   ><>  ><>
    ><> ><>
"""### unit="><>"
