name "turtle"

left ###"""
  __.-^.^.^.^.._
/o  -'.'.'.'.'. \
'-''\ \-___-\ \``
     \_\     '-'
"""###

left1 ###"""
  __.-^.^.^.^.._
/o  -'.'.'.'.'. \
'-''\ \-___-\ \``
    \_\      '-'
"""###

left2 ###"""
  __.-^.^.^.^.._
/o  -'.'.'.'.'. \
'-''\ \-___-\ \``
      \_\    '-' 
"""###

right ###"""
 _..^.^.^.^-.__
/ .'.'.'.'.'-  o\
``/ /-___-/ /''-'
 '-'     /_/
"""###

right1 ###"""
 _..^.^.^.^-.__
/ .'.'.'.'.'-  o\
``/ /-___-/ /''-'
 '-'      /_/
"""###

right2 ###"""
 _..^.^.^.^-.__
/ .'.'.'.'.'-  o\
``/ /-___-/ /''-'
 '-'    /_/
"""###
