name "bertgantuan"

left ###"""
            _.--------._
  ___    _-^ /``\  /``\ -,_
 / 0 `'-'_/``\__/``\__/``\ \
( ...  _/ \__/  \__/  \__/-`'
 '----'`\_/..___/  \__/\_..\
        \..\   `----`    \..\
        \..\              '''
         \...\
           \,,\
"""###


right ###"""
     _.--------._
  _,- /''\  /''\ ^-_    ___
 / /''\__/''\__/''\_'-'' 0 \
''-\__/  \__/  \__/ \_  ... )
 /.._/\__/  \___..\_/''----'
/../    '----'   /../
'''              /../
               /.../
              /,,/
"""###


