name "bigbert"
title "a large sea turtle"
description "broad hexagonal-patterned shell, small round eye, and trailing rear flippers"
sauce author=mevanlc date=20260503 license=CCBYSA4.0

count 1

constraints {
    scene-cruiser count-max=1
}


right ###"""
     _.--------._
  _,' /''\  /''\ '-_    ___
 / /''\__/''\__/''\_'-'' o \
''-\__/  \__/  \__/ \_  ..  )
 /.._/\__/  \___..\_/''----'
/../    '----'   /../
'''              /../
                /../
              /,,/
"""###

right1 ###"""
     _.--------._
  _,' /''\  /''\ '-_    ___
 / /''\__/''\__/''\_'-'' o \
''-\__/  \__/  \__/ \_  ..  )
 /.._/\__/  \___..\_/''----'
/../    '----'  /../
'''             /../
              /../
            /,,/
"""###

right2 ###"""
     _.--------._
  _,' /''\  /''\ '-_    ___
 / /''\__/''\__/''\_'-'' o \
''-\__/  \__/  \__/ \_  ..  )
 /.._/\__/  \___..\_/''----'
/../    '----'  /../
'''            /../
             /../
           /,/
"""###

right3 ###"""
     _.--------._
  _,' /''\  /''\ '-_    ___
 / /''\__/''\__/''\_'-'' o \
''-\__/  \__/  \__/ \_  ..  )
 /.._/\__/  \___..\_/''----'
/../    '----'  /../
'''             /../
              /../
            /,,/
"""###

right4 ###"""
     _.--------._
  _,' /''\  /''\ '-_    ___
 / /''\__/''\__/''\_'-'' o \
''-\__/  \__/  \__/ \_  ..  )
 /.._/\__/  \___..\_/''----'
/../    '----'   /../
'''              /../
                /../
              /,,/
"""###

right5 ###"""
     _.--------._
  _,' /''\  /''\ '-_    ___
 / /''\__/''\__/''\_'-'' o \
''-\__/  \__/  \__/ \_  ..  )
 /.._/\__/  \___..\_/''----'
/../    '----'   /../
'''              /../
                /../
               /,,/
"""###

right6 ###"""
     _.--------._
  _,' /''\  /''\ '-_    ___
 / /''\__/''\__/''\_'-'' o \
''-\__/  \__/  \__/ \_  ..  )
 /.._/\__/  \___..\_/''----'
/../    '----'   /../
'''              /../
                 /../
                /,,/
"""###

right7 ###"""
     _.--------._
  _,' /''\  /''\ '-_    ___
 / /''\__/''\__/''\_'-'' o \
''-\__/  \__/  \__/ \_  ..  )
 /.._/\__/  \___..\_/''----'
/../    '----'   /../
'''              /../
                 /../
                /,,/
"""###

right8 ###"""
     _.--------._
  _,' /''\  /''\ '-_    ___
 / /''\__/''\__/''\_'-'' o \
''-\__/  \__/  \__/ \_  ..  )
 /.._/\__/  \___..\_/''----'
/../    '----'   /../
'''               /../
                  /../
                  /,/
"""###

left ###"""
            _.--------._
  ___    _-' /''\  /''\ ',_
 / o `'-'_/''\__/''\__/''\ \
(  ..  _/ \__/  \__/  \__/-`'
 '----'`\_/..___/  \__/\_..\
        \..\   `----`    \..\
        \..\              '''
         \..\
           \,,\
"""###

left1 ###"""
            _.--------._
  ___    _-' /''\  /''\ ',_
 / o `'-'_/''\__/''\__/''\ \
(  ..  _/ \__/  \__/  \__/-`'
 '----'`\_/..___/  \__/\_..\
         \..\  `----`    \..\
         \..\             '''
           \..\
             \,,\
"""###

left2 ###"""
            _.--------._
  ___    _-' /''\  /''\ ',_
 / o `'-'_/''\__/''\__/''\ \
(  ..  _/ \__/  \__/  \__/-`'
 '----'`\_/..___/  \__/\_..\
         \..\  `----`    \..\
          \..\            '''
            \..\
               \,\
"""###

left3 ###"""
            _.--------._
  ___    _-' /''\  /''\ ',_
 / o `'-'_/''\__/''\__/''\ \
(  ..  _/ \__/  \__/  \__/-`'
 '----'`\_/..___/  \__/\_..\
         \..\  `----`    \..\
         \..\             '''
           \..\
             \,,\
"""###

left4 ###"""
            _.--------._
  ___    _-' /''\  /''\ ',_
 / o `'-'_/''\__/''\__/''\ \
(  ..  _/ \__/  \__/  \__/-`'
 '----'`\_/..___/  \__/\_..\
        \..\   `----`    \..\
        \..\              '''
         \..\
           \,,\
"""###

left5 ###"""
            _.--------._
  ___    _-' /''\  /''\ ',_
 / o `'-'_/''\__/''\__/''\ \
(  ..  _/ \__/  \__/  \__/-`'
 '----'`\_/..___/  \__/\_..\
        \..\   `----`    \..\
        \..\              '''
         \..\
          \,,\
"""###

left6 ###"""
            _.--------._
  ___    _-' /''\  /''\ ',_
 / o `'-'_/''\__/''\__/''\ \
(  ..  _/ \__/  \__/  \__/-`'
 '----'`\_/..___/  \__/\_..\
        \..\   `----`    \..\
        \..\              '''
        \..\
         \,,\
"""###

left7 ###"""
            _.--------._
  ___    _-' /''\  /''\ ',_
 / o `'-'_/''\__/''\__/''\ \
(  ..  _/ \__/  \__/  \__/-`'
 '----'`\_/..___/  \__/\_..\
        \..\   `----`    \..\
        \..\              '''
        \..\
         \,,\
"""###

left8 ###"""
            _.--------._
  ___    _-' /''\  /''\ ',_
 / o `'-'_/''\__/''\__/''\ \
(  ..  _/ \__/  \__/  \__/-`'
 '----'`\_/..___/  \__/\_..\
        \..\   `----`    \..\
       \..\               '''
       \..\
        \,\
"""###
