name "hujelly"

face ###"""
  .-.-.-.-.
 (   .'.   )
 |'-.___.-'|
   | | | |
"""###

left ###"""
  .-.-.-.-.
 (   .'.   )
 \'-.___.-' \
    \ \ \ \
"""###

right ###"""
  .-.-.-.-.
 (   .'.   )
 /'-.___.-'/
  / / / /
"""###
