name "oldskool"

motion "brownian"
unit-motion "brownian" rearrange-chance=0.1

left ###"""
   <>< <><
    <><  <><
 <><   <><  <><
    <>< <><
"""### unit="<><"

right ###"""
   ><> ><>
    ><>  ><>
 ><>   ><>  ><>
    ><> ><>
"""### unit="><>"
