name "wigglewort"
kindom plant
sauce author=mevanlc date=20260512 license=CCBYSA4.0

count 8

h-velocity 0
v-velocity 0

spawn-location floor

face ###"""
(
 )  
(   )
 ) (
(   )
 ) (
"""###

face1 ###"""
 )
(  
 )   )
(   (
 )  )
 ( (
"""###
